body {
    font-family: 'Roboto', sans-serif;
}

alert-container {}

callout-container {}

quotes-container {
    height: 100vh;

  background: url(../images/whiskey-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

features-container {}

favorites-container {}
